* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 721px) {

    .container {
        width: 100%;
        background-color: rgba(0, 0, 255, 0.347);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: relative;
    }

    #div-1,
    #div-2,
    #div-3 {
        box-shadow: 5px 5px 20px black;
        width: 200px;
        border-radius: 10px;
        background-color: #a7a7ff;
        height: 200px;
        transition: ease-in-out .5s;
        /* border: 1px solid black; */
        /* z-index: 1000; */
    }
    #div-1:hover,
    #div-2:hover,
    #div-3:hover{
        border-radius: 50%;
        width: 210px;
        height: 210px;
    }

    #div-1 h5 {
        font-weight: normal;
        margin: 10px;
        text-align: center;
    }

    #div-1 h3 {
        /* font-weight: normal; */
        /* margin: 10px; */
        text-align: center;
    }

    #div-1 #first_p {
        font-size: 10px;
        text-align: center;
    }

    #div-1 #second_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-1 #third_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-1 #button {
        display: flex;
        justify-content: center;
    }

    #div-1 button {
        box-shadow: 3px 3px 10px black;
        margin-top: 20px;
        font-size: 10px;
        text-align: center;
        color: white;
        background-color: rgba(137, 43, 226, 0.466);
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        transition: ease-in-out .5s;
    }

    #div-1 button:hover {
        padding: 10px 50px 10px 50px;
        border-radius: 20px;
        font-size: 13px;
        margin-top: 15px;

    }

    #div-2 h5 {
        font-weight: normal;
        margin: 10px;
        text-align: center;
    }

    #div-2 h3 {
        /* font-weight: normal; */
        /* margin: 10px; */
        text-align: center;
    }

    #div-2 #first_p {
        font-size: 10px;
        text-align: center;
    }

    #div-2 #second_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-2 #third_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-2 #button {
        display: flex;
        justify-content: center;
    }

    #div-2 button {
        box-shadow: 3px 3px 10px black;
        margin-top: 20px;
        font-size: 10px;
        text-align: center;
        color: white;
        background-color: rgba(137, 43, 226, 0.466);
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        transition: ease-in-out .5s;
    }

    #div-2 button:hover {
        padding: 10px 50px 10px 50px;
        border-radius: 20px;
        font-size: 13px;
        margin-top: 15px;

    }

    #div-3 h5 {
        font-weight: normal;
        margin: 10px;
        text-align: center;
    }

    #div-3 h3 {
        /* font-weight: normal; */
        /* margin: 10px; */
        text-align: center;
    }

    #div-3 #first_p {
        font-size: 10px;
        text-align: center;
    }

    #div-3 #second_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-3 #third_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-3 #button {
        display: flex;
        justify-content: center;
    }

    #div-3 button {
        box-shadow: 3px 3px 10px black;
        margin-top: 20px;
        font-size: 10px;
        text-align: center;
        color: white;
        background-color: rgba(137, 43, 226, 0.466);
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        transition: ease-in-out .5s;
    }

    #div-3 button:hover {
        padding: 10px 50px 10px 50px;
        border-radius: 20px;
        font-size: 13px;
        margin-top: 15px;
    }
}

@media (max-width: 720px) {
    .container {
        width: 100vw;
        /* border: 2px solid black; */
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: rgba(0, 0, 255, 0.347);
        position: relative;

    }

    #div-1,
    #div-2,
    #div-3 {
        box-shadow: 5px 5px 20px black;
        width: 200px;
        border-radius: 10px;
        background-color: #a7a7ff;;
        height: 200px;
        transition: ease-in-out .5s;
        /* border: 1px solid black; */
    }
    #div-1:hover,
    #div-2:hover,
    #div-3:hover{
        border-radius: 50%;
        width: 210px;
        height: 210px;
    }

    #div-1,
    #div-2,
    #div-3 h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #div-1 h5 {
        font-weight: normal;
        margin: 10px;
        text-align: center;
    }

    #div-1 h3 {
        /* font-weight: normal; */
        /* margin: 10px; */
        text-align: center;
    }

    #div-1 #first_p {
        font-size: 10px;
        text-align: center;
    }

    #div-1 #second_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-1 #third_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-1 #button {
        display: flex;
        justify-content: center;
    }

    #div-1 button {
        box-shadow: 3px 3px 10px black;
        margin-top: 20px;
        font-size: 10px;
        text-align: center;
        color: white;
        background-color: rgba(137, 43, 226, 0.466);
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        transition: ease-in-out .5s;
    }

    #div-1 button:hover {
        padding: 10px 50px 10px 50px;
        border-radius: 20px;
        font-size: 13px;
        margin-top: 15px;
    }

    #div-2 h5 {
        font-weight: normal;
        margin: 10px;
        text-align: center;
    }

    #div-2 h3 {
        /* font-weight: normal; */
        /* margin: 10px; */
        text-align: center;
    }

    #div-2 #first_p {
        font-size: 10px;
        text-align: center;
    }

    #div-2 #second_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-2 #third_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-2 #button {
        display: flex;
        justify-content: center;
    }

    #div-2 button {
        box-shadow: 3px 3px 10px black;
        margin-top: 20px;
        font-size: 10px;
        text-align: center;
        color: white;
        background-color: rgba(137, 43, 226, 0.466);
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        transition: ease-in-out .5s;
    }

    #div-2 button:hover {
        padding: 10px 50px 10px 50px;
        border-radius: 20px;
        font-size: 13px;
        margin-top: 15px;
    }

    #div-3 h5 {
        font-weight: normal;
        margin: 10px;
        text-align: center;
    }

    #div-3 h3 {
        /* font-weight: normal; */
        /* margin: 10px; */
        font-family: "Poppins", sans-serif;
        text-align: center;
    }

    #div-3 #first_p {
        font-size: 10px;
        text-align: center;
    }

    #div-3 #second_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-3 #third_p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }

    #div-3 #button {
        display: flex;
        justify-content: center;
    }

    #div-3 button {
        box-shadow: 3px 3px 10px black;
        margin-top: 20px;
        font-size: 10px;
        text-align: center;
        color: white;
        background-color: rgba(137, 43, 226, 0.466);
        border: none;
        border-radius: 3px;
        padding: 5px 15px 5px 15px;
        transition: ease-in-out .5s;
    }
    #div-3 button:hover{
        padding: 10px 50px 10px 50px;
        border-radius: 20px;
        font-size: 13px;
        margin-top: 15px;
    }
}